<html>

<head><meta charset="utf-8"></head>

<body>
  <a href="/articles/new">記事作成画面</a>

  <ul>
    <% @articles.each do |article| %>
      <li>
        タイトル: <%= article.title %>
        内容: <%= article.description %>
        投稿者: <%= article.user.name %>

        <form method="post" action="/articles">
          <input type="hidden" name="id" value=<%= article.id %>>
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="削除!">
        </form>
      </li>

      <button><a href="/articles/show?id=<%= article.id %>">詳細</a></button>
    <% end %>
  </ul>
</body>

</html>
